

#page {width:800px; background:#00ff00;}

#header { background:#FFECEC; width:800px; height:100px; }

#menu { background:#E8E8E8; width:140px; height:300px; }

#content { background:#DFDFFF; width:645px; height:300px; float:right;}